.page {
  align-items: center;
  background-color: #2a2c2f;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  width: 100%;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
}

.title {
  color: rgb(225, 216, 216);
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
}

.card {
  background-color: rgba(101, 126, 125, 0.5);
  background-image: url("../../public/coolcat.png");
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 100px;
  border-radius: 20px;
  box-shadow: 10px 10px 5px 1px #27282b;
  color: rgb(225, 216, 216);
  font-family: Arial, Helvetica, sans-serif;
  height: 50vh;
  padding: 20px;
  text-align: center;
  width: 40vw;
}

.paragraph {
  color: rgb(225, 216, 216);
  font-size: 25px;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

.backButton {
  background-color: #333;
  border-radius: 10px;
  border: none;
  box-shadow: 10px 10px 2px 1px #27282b;
  color: #fff;
  cursor: pointer;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
  width: 200px;
}

.backButton:hover {
  background-color: #555;
}
